@page
@model Management_Atelier_Reparatii.Pages.ComenziService.IndexModel
@using Management_Atelier_Reparatii.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComandaService[0].Masina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComandaService[0].Mecanic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComandaService[0].DataPrimire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComandaService[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComandaService[0].Observatii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ComandaService) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Masina.NumarInmatriculare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mecanic.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrimire)
            </td>
            <td>
                    @if (item.Status == StatusComanda.Nou)
                    {
                        <span class="badge bg-secondary">Noua</span>
                    }
                    else if (item.Status == StatusComanda.InLucru)
                    {
                        <span class="badge bg-warning text-dark">In lucru</span>
                    }
                    else if (item.Status == StatusComanda.Finalizat)
                    {
                        <span class="badge bg-success">Finalizata</span>
                    }
                    else if (item.Status == StatusComanda.Predat)
                    {
                        <span class="badge bg-primary">Predată</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observatii)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ComandaServiceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ComandaServiceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ComandaServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
